#Log files
linux/home/radar/ros.3.6/log/superdarn-ros.*

#files being edited
*~
temp.out*

# make and build files
*.o
*.so
*.so.0
*.a
*.la 
*.Po
*.Plo
.libs/
.deps/
# binaries
linux/home/radar/ros.3.6/bin/
linux/home/radar/ros.3.6/usr/bin/
linux/home/radar/ros.3.6/build/bin
qnx/root/operational_radar_code/ros/dio_tcp_driver/dio_tcp_driver
qnx/root/operational_radar_code/ros/fftw-3.2.2/tools/fftw-wisdom
qnx/root/operational_radar_code/ros/gc214_tcp_driver/receiver_tcp_driver
qnx/root/operational_radar_code/ros/gc316_tcp_driver/receiver_tcp_driver
qnx/root/operational_radar_code/ros/gps_tcp_driver/gps_tcp_driver
qnx/root/operational_radar_code/ros/fftw-3.2.2/tests/bench
qnx/root/operational_radar_code/ros/server/arby_server
qnx/root/operational_radar_code/ros/timing_tcp_driver/timing_tcp_driver
