#Log files
linux/home/radar/ros.3.6/log/superdarn-ros.*

#files being edited
*~
temp.out*

# make and build files
*.o
*.so
*.so.0
*.a
# binaries
linux/home/radar/ros.3.6/bin/
linux/home/radar/ros.3.6/usr/bin/
qnx/root/operational_radar_code/kod.imaging/ros/server/arby_server
